
.dark {
    --bg-primary: #101010 !important;
    --main-surface-primary: #101010 !important;
    --bg-elevated-secondary: #101010 !important;
}

.bg-token-bg-primary {
    background: #151515 !important;
}

div[data-testid="accounts-profile-button"] + div {
    display: none !important;
}

.\[view-transition-name\:var\(--vt-disclaimer\)\] {
    display: none !important;
}

.\[--thread-content-max-width\:40rem\] {
    --thread-content-max-width: 100% !important;
}

.absolute.start-0.end-0.bottom-full.-z-1 {
    display: none;
}


#page-header .lg\:block {
   display: none !important;
}

table {
    padding-left: 2rem;
}
