:where(.theme-host) {
    --bard-color-sidenav-background-desktop: #101010 !important;
    --gem-sys-color--surface: #101010 !important;
    --bard-color-surface-dim-tmp: #101010 !important;
    --gem-sys-color--surface-bright: #151515dd !important;
    --gem-sys-color--surface-container: #151515bb !important;
}

.desktop-ogb-buffer {
    position: absolute !important;
}

.top-bar-actions .center-section {
    display: none !important;
}

upsell-button {
    display: none !important;
}

.hallucination-disclaimer {
    display: none !important;
}

.avatar-gutter {
    display: none !important;
}

.conversation-container {
    max-width: 100% !important;
}

user-query {
    max-width: 100% !important;
}

.input-area-container {
    max-width: 100% !important;
}

input-container {
    position: absolute !important;
    bottom: 0 !important;
}

input-container:before {
    display: none !important;
}

#chat-history infinite-scroller {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#chat-history infinite-scroller > :last-child {
    padding-bottom: 168px !important;
}

.mobile-controls {
    margin-bottom: 0 !important;
}

.desktop-controls {
    margin: 0 !important;
}

.text-input-field_textarea-wrapper {
    margin-bottom: 0 !important;
}
